{% extends "dashboard/layouts/base.html" %}

{% block title %} {{ model_title }} Dashboard {% endblock %}

{% block content %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DynoMonitor</title>

</head>
<body>
<div id="fileUpload" dir="rtl" style="background-color: #9acfea; margin: 1px; padding: 2px; display: none">
</div>
<div id="root" dir="rtl">
</div>
</body>
{% load static %}
<script>
  var apiurl = "{{ apiurl }}";

</script>
<script src="{% static 'frontend/main.js' %}"></script>
</html>

{% endblock %}
